<a href="https://colab.research.google.com/github/Granero0011/DS-Unit-2-Sprint-4-Practicing-Understanding/blob/master/DS_Unit_2_Sprint_Challenge_4_Practicing_Understanding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science Unit 2_
 
 # Sprint Challenge: Practicing & Understanding Predictive Modeling

### Chicago Food Inspections

For this Sprint Challenge, you'll use a dataset with information from inspections of restaurants and other food establishments in Chicago from January 2010 to March 2019. 

[See this PDF](https://data.cityofchicago.org/api/assets/BAD5301B-681A-4202-9D25-51B2CAE672FF) for descriptions of the data elements included in this dataset.

According to [Chicago Department of Public Health â€” Food Protection Services](https://www.chicago.gov/city/en/depts/cdph/provdrs/healthy_restaurants/svcs/food-protection-services.html), "Chicago is home to 16,000 food establishments like restaurants, grocery stores, bakeries, wholesalers, lunchrooms, mobile food vendors and more. Our business is food safety and sanitation with one goal, to prevent the spread of food-borne disease. We do this by inspecting food businesses, responding to complaints and food recalls."

#### Your challenge: Predict whether inspections failed

The target is the `Fail` column.

- When the food establishment failed the inspection, the target is `1`.
- When the establishment passed, the target is `0`.

#### Run this cell to load the data:

In [0]:
import pandas as pd

train_url = 'https://drive.google.com/uc?export=download&id=13_tP9JpLcZHSPVpWcua4t2rY44K_s4H5'
test_url  = 'https://drive.google.com/uc?export=download&id=1GkDHjsiGrzOXoF_xcYjdzBTSjOIi3g5a'

train = pd.read_csv(train_url)
test  = pd.read_csv(test_url)

assert train.shape == (51916, 17)
assert test.shape  == (17306, 17)

### Part 1: Preprocessing

You may choose which features you want to use, and whether/how you will preprocess them. If you use categorical features, you may use any tools and techniques for encoding. (Pandas, category_encoders, sklearn.preprocessing, or any other library.)

_To earn a score of 3 for this part, find and explain leakage. The dataset has a feature that will give you an ROC AUC score > 0.90 if you process and use the feature. Find the leakage and explain why the feature shouldn't be used in a real-world model to predict the results of future inspections._

### Part 2: Modeling

**Fit a model** with the train set. (You may use scikit-learn, xgboost, or any other library.) **Use cross-validation** to **do hyperparameter optimization**, and **estimate your ROC AUC** validation score.

Use your model to **predict probabilities** for the test set. **Get an ROC AUC test score >= 0.60.**

_To earn a score of 3 for this part, get an ROC AUC test score >= 0.70 (without using the feature with leakage)._


### Part 3: Visualization

Make one visualization for model interpretation. (You may use any libraries.) Choose one of these types:

- Feature Importances
- Permutation Importances
- Partial Dependence Plot
- Shapley Values

_To earn a score of 3 for this part, make at least two of these visualization types._

### Part 4: Gradient Descent

Answer both of these two questions:

- What does Gradient Descent seek to minimize?
- What is the "Learning Rate" and what is its function?

One sentence is sufficient for each.

_To earn a score of 3 for this part, go above and beyond. Show depth of understanding and mastery of intuition in your answers._

In [0]:
#Part 1 Preprocessing

In [59]:
train.head(10)

   Inspection ID  ... Fail
0        2088270  ...    1
1         555268  ...    0
2        1751394  ...    0
3        1763905  ...    0
4         453326  ...    0
5        1725221  ...    0
6        1981372  ...    0
7        1072403  ...    0
8        1464616  ...    1
9         583261  ...    1

[10 rows x 17 columns]

In [4]:
!pip install category_encoders

Requirement already satisfied: category_encoders in /usr/local/lib/python3.6/dist-packages (2.0.0)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.20.3)
Requirement already satisfied: scipy>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.2.1)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.24.2)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.16.3)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.9.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.4.1->category_encoders) (1.12.0)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.5.3)

In [0]:
import category_encoders as ce

In [0]:
features = ['Facility Type', 'Risk','Inspection Type']
target = 'Fail'

In [71]:
encoder = ce.OrdinalEncoder()
encoded = encoder.fit_transform(train[features])
#print(f'{len(encoded.columns)} columns')
encoded.head(20)

    Facility Type  Risk  Inspection Type
0               1     1                1
1               2     2                2
2               1     1                3
3               1     3                1
4               3     1                1
5               4     1                1
6               1     3                1
7               1     1                4
8               1     1                1
9               1     1                5
10              2     1                6
11              1     1                7
12              3     1                3
13              1     1                6
14              1     1                1
15              5     2                5
16              1     1                1
17              1     1                5
18              1     1                1
19              1     1                3

In [0]:
#Part 2 Modeling

In [0]:
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_validate
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import RandomizedSearchCV

In [0]:
scores = cross_validate(LinearRegression(), encoded,train[target], 
                        scoring='neg_mean_absolute_error', cv=3, 
                        return_train_score=True, return_estimator=True)

In [76]:
pd.DataFrame(scores)

   fit_time  score_time  ... test_score  train_score
0  0.068843    0.002549  ...  -0.381261    -0.379375
1  0.009728    0.002014  ...  -0.380423    -0.381786
2  0.009986    0.001992  ...  -0.380369    -0.380782

[3 rows x 5 columns]

In [77]:
-scores['test_score'].mean()

0.38068428571227403

In [78]:
for i, model in enumerate(scores['estimator']):
  coefficients=model.coef_
  intercept = model.intercept_
  feature_names = train[features].columns
  
  print(f'Model from cross-validation fold #{i}')
  print('Intercept', intercept)
  print(pd.Series(coefficients, feature_names).to_string())
  print("\n")

Model from cross-validation fold #0
Intercept 0.2067486030875003
Facility Type      0.000151
Risk               0.006230
Inspection Type    0.013057


Model from cross-validation fold #1
Intercept 0.21436466798470927
Facility Type      0.000255
Risk               0.004735
Inspection Type    0.011864


Model from cross-validation fold #2
Intercept 0.2038924565780012
Facility Type      0.000109
Risk               0.008729
Inspection Type    0.013348

In [80]:
model = RandomForestRegressor(n_estimators=100, max_depth=None, n_jobs=-1)

scores = cross_validate(model, encoded, train[target], 
                        scoring='neg_mean_absolute_error', 
                        cv=3, return_train_score=True, 
                        return_estimator=True)

pd.DataFrame(scores)

   fit_time  score_time  ... test_score  train_score
0  2.259328    0.112422  ...  -0.352906    -0.342924
1  0.801084    0.103720  ...  -0.350932    -0.345809
2  0.853267    0.103683  ...  -0.350239    -0.345465

[3 rows x 5 columns]

In [0]:
param_distributions = {
    'n_estimators': [100, 200], 
    'max_depth': [4, 5], 
    'criterion': ['mse', 'mae']
}

gridsearch = RandomizedSearchCV(
    RandomForestRegressor(n_jobs=-1, random_state=42), 
    param_distributions=param_distributions, 
    n_iter=3, 
    cv=3, 
    scoring='neg_mean_absolute_error', 
    verbose=10, 
    return_train_score=True, 
    n_jobs=-1
)

gridsearch.fit(encoded, train[target])

Fitting 3 folds for each of 3 candidates, totalling 9 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done   1 tasks      | elapsed: 14.6min
[Parallel(n_jobs=-1)]: Done   4 tasks      | elapsed: 14.8min
[Parallel(n_jobs=-1)]: Done   7 out of   9 | elapsed: 29.0min remaining:  8.3min